mixin header
    header.flex.items-center.relative.z-40.pb-8.justify-between.pt-12(class='xl:justify-start xl:sticky xl:top-0')
        div.logo(class='w-[50px] h-[50px]')
            a(href=url('/'))
                img(src='images/logo.svg')
        div.ml-10
            ul.desktop-menu.hidden(class='xl:flex')
              each item in header.menu
                - target = (item.target && (item.url.startsWith('http') || item.url.startsWith('/'))) ? item.target : ''
                li.px-4
                    a.px-4.underline-offset-2(href=item.url target=target class='hover:underline')=item.text
            div.relative.hamburger.rounded-full.bg-black.flex.items-center.justify-center.z-50(class='xl:hidden w-[3.25rem] h-[3.25rem]')
                div.hamburger-menu(role='button')
                    div.hamburger-menu__meat
            div.mobile-menu.hidden.flex.flex-col.justify-center.items-center.fixed.top-0.left-0.right-0.bg-black.h-full.z-10
                ul.mobile-menu--nav.text-center
                  each item in header.menu
                    - target = (item.target && (item.url.startsWith('http') || item.url.startsWith('/'))) ? item.target : ''
                    li.px-4
                        a.px-4.underline-offset-2.font-highlight.font-bold(href=item.url target=target class='hover:underline text-[2.5rem] lg:text-[2.8125rem]')=item.text
                div.mobile-menu--social.flex
                    each item in header.socialLinks
                        a.flex.justify-center.items-center.rounded-full.bg-main.mx-2.mb-4.mt-16(href=item.url class='w-[3.25rem] h-[3.25rem] hover:bg-secondary' title=item.name target='_blank')
                            img(src=item.icon alt=item.name class='h-2/5')




