include ../_includes/variables
include ../_mixins/index

doctype html
html(lang='en')
    head
        block head
            +common-meta-tags

            - var displayTitle = title + (title ? ' - ' : '') + siteName
            title=displayTitle

            +favicon-and-appicons

            link(rel='preconnect' href='https://fonts.googleapis.com')
            link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
            link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')

            link(rel='stylesheet' href=url('/main.css'))
            link(rel='stylesheet' href=url('/tailwind.css'))

            +common-og-tags(displayTitle)
        block head-extra
    body.font-main.bg-black.text-white
        div.myblog.main-content.container.mx-auto(class='px-[2.8125rem] lg:px-6')
            main.page-content(class=`page-${templateName}`)
                +header
                block content
                +footer
        script(src=url('/main.js'))
